body{
 background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
 height: 100vh;
 
}
header h1{
 font-size: 50px;
 color: whitesmoke;
 text-shadow: 5px 5px 5px black;
}
.battleship{
 box-sizing: border-box;

}

.square{
 background: rgba(222, 218, 212, 0.482);
background: linear-gradient(45deg, rgba(222,218,212,1) 0%, rgba(69, 68, 68, 0.381) 51%, rgba(229, 139, 5, 0.242) 100%, rgba(158, 105, 0, 0.509) 100%);
 border: 5px solid black;
 box-shadow: 2px 2px 5px rgb(7, 7, 7);

height: 100px;

}

.ifHit{
 
 background: rgb(50, 151, 36) !important;
}

.ifMiss{
 
 background: red !important;
}

.message{
 margin-left: 20px;
 font-size: 35px;
 color: rgb(0, 0, 0);
 text-shadow: 2px 2px 0px rgb(255, 254, 254);
}