body{
 background: linear-gradient(180deg, rgba(0, 73, 83, 0.128) , rgba(0, 73, 83, 0.114)), url(./image/prathibha-murdough-kZaypdQtlKY-unsplash.jpg);
  background-size: cover;
  background-position: center;
 height: 100vh;
 
}

@media (max-width: 480px) {
 
.container header h1{
 font-size: 50px;
}

.container .message{
 font-size: 27px;
 margin-left: 13px;
}

.container .restart{
 margin-left: 10px;
}
}

.game{
 
 background: rgba(180, 182, 184, 0.728);
 border-radius: 25px;
 padding: 15px;
}

header h1{
 font-size: 60px;
 color: whitesmoke;
 text-shadow: 5px 5px 5px black;
 
}
.battleship{
 box-sizing: border-box;

}

.square{
 background: rgba(145, 174, 204, 0.749);
 border: 5px solid black;
 box-shadow: 2px 2px 5px rgb(7, 7, 7);
cursor: pointer;
height: 100px;

}

.ifHit{
 transition: background-color 0.5s ease-in;
 background: rgb(33, 214, 9) !important;
}

.ifMiss{
 transition: background-color 0.6s ease-in;
 background: red !important;
}

.restart{
margin-left: -67px;
 font-size: 25px;
 background: rgba(219, 6, 6, 0.824);
 color: whitesmoke;
 text-shadow: 1px 1px 5px black;
 border-radius: 10px;
}

.confetti{
 height: 150px;
}

.message{
 margin-left: -67px;
 font-size: 35px;
 color: rgb(227, 227, 227);
 text-shadow: 2px 2px 0px rgb(0, 0, 0);
 
}